/* add font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@media screen and (max-width: 768px) {
  .main-page-container h1 {
      font-size: 18px; /* Adjust font size for smaller screens */
  }
}
* {
  box-sizing: border-box;
}

html {
  font-size: 18px
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}